<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="../../css/style.css">
</head>

<body>
    <div class="container">
        <div class="row">

            <div class="col-lg-5 mt-5">
                <div class="vertical-center">
                    <img src="../../images/intro/fairy.png" class="rounded img-fluid">
                </div>
            </div>
            <div class="col-lg-1"></div>
            <div class="col-lg-6 mt-5">
                <div class="row">
                    <div class="col">
                        <p class="text-center">Before you proceed, you need to choose your familiar</p>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <a href="../../index.html"><img src="../../images/intro/potential-familiars/ducky.jpg" alt="Duck"
                            class="img-fluid img-thumbnail" id="myImg1"></a>
                        <figcaption>Duck</figcaption>
                        <div id="myModal" class="modal">
                            <span class="close">&times;</span>
                            <img class="modal-content" id="img01">
                            <div id="caption"></div>
                        </div>
                    </div>
                    <div class="col">
                        <a href="../../index.html"><img src="../../images/intro/potential-familiars/bird.jpg" alt="Bird"
                            class="img-fluid img-thumbnail" id="myImg2"></a>
                        <figcaption>Bird</figcaption>
                        <div id="myModal" class="modal">
                            <span class="close">&times;</span>
                            <img class="modal-content" id="img01">
                            <div id="caption"></div>
                        </div>
                    </div>
                    <div class="col">
                        <a href="../../index.html"><img src="../../images/intro/potential-familiars/alien-02.jpg" alt="Alien"
                            class="img-fluid img-thumbnail" id="myImg3"></a>
                        <figcaption>Alien</figcaption>
                        <div id="myModal" class="modal">
                            <span class="close">&times;</span>
                            <img class="modal-content" id="img01">
                            <div id="caption"></div>
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col">
                        <a href="../../index.html"><img src="../../images/intro/potential-familiars/dino.jpg" alt="Dino"
                            class="img-fluid img-thumbnail" id="myImg4"></a>
                        <figcaption>Dino</figcaption>
                        <div id="myModal" class="modal">
                            <span class="close">&times;</span>
                            <img class="modal-content" id="img01">
                            <div id="caption"></div>
                        </div>
                    </div>
                    <div class="col">
                        <a href="../../index.html"><img src="../../images/intro/potential-familiars/noodnic.jpg" alt="Mouse"
                            class="img-fluid img-thumbnail" id="myImg5"></a>
                        <figcaption>Mouse</figcaption>
                        <div id="myModal" class="modal">
                            <span class="close">&times;</span>
                            <img class="modal-content" id="img01">
                            <div id="caption"></div>
                        </div>
                    </div>
                    <div class="col">
                        <a href="../../index.html"><img src="../../images/intro/potential-familiars/selki.jpg" alt="Selki"
                            class="img-fluid img-thumbnail" id="myImg6"></a>
                        <figcaption>Selki</figcaption>
                        <div id="myModal" class="modal">
                            <span class="close">&times;</span>
                            <img class="modal-content" id="img01">
                            <div id="caption"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="footer"></div>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
    <script src="../../scripts/sunshine.js"></script>
</body>

</html>