<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="../../../css/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>

<body>
    <div class="container">
        <div class="page-header">
            <p class="display-4">Syllabus</p>
        </div>
        English Basics :
        • English Vocabulary :

        <ul class="list-group">
                <li class="list-group-item">The Alphabets</li>
            <li class="list-group-item">The Alphabets</li>
            <li class="list-group-item">Animals and nature</li>
            <li class="list-group-item">Colors</li>
            <li class="list-group-item">Numbers</li>
            <li class="list-group-item">Shapes</li>

            <li class="list-group-item">Days and days</li>
            <li class="list-group-item">Time</li>
            <li class="list-group-item">Weather and seasons</li>
            <li class="list-group-item">Computers</li>
            <li class="list-group-item">Greetings</li>

            <li class="list-group-item">Nationalities and countries</li>
            <li class="list-group-item">People appearances</li>
            <li class="list-group-item">People, families </li>
            <li class="list-group-item">Food and drinks – eating out </li>
            <li class="list-group-item">Human body</li>

            <li class="list-group-item">Food: vegetables and fruits</li>
            <li class="list-group-item">Buildings _ around the house _ rooms in the house _ furniture</li>
            <li class="list-group-item">Jobs and work (professions/offices)</li>
            <li class="list-group-item">Money</li>
            <li class="list-group-item">Shopping</li>

            <li class="list-group-item">Transport</li>
            <li class="list-group-item">Sports</li>
            <li class="list-group-item">Entertainment</li>
            <li class="list-group-item">Phrasal verbs </li>
            <li class="list-group-item">English idioms and proverbs </li>
        </ul>





        • Grammar:
        • Adjectives:

        <ul class="list-group">
            <li class="list-group-item">Comparatives</li>
            <li class="list-group-item">Order</li>
            <li class="list-group-item">Possessive</li>
            <li class="list-group-item">Superlative</li>
            <li class="list-group-item">Used to</li>
            <li class="list-group-item">Common adjectives</li>
            <li class="list-group-item">Adjectives of personality</li>
        </ul>


        • Adverbs:

        <ul class="list-group">
            <li class="list-group-item">Degree</li>
            <li class="list-group-item">Duration</li>
            <li class="list-group-item">Frequency</li>
            <li class="list-group-item">Manner</li>
            <li class="list-group-item">Place</li>
            <li class="list-group-item">Probability</li>
            <li class="list-group-item">Time</li>
            <li class="list-group-item">Comparative</li>
            <li class="list-group-item">Superlative</li>
        </ul>



        • Aticles:
        <ul class="list-group">
            <li class="list-group-item">Case</li>
            <li class="list-group-item">Objective /accusative</li>
            <li class="list-group-item">Possessive/genitive</li>
            <li class="list-group-item">Subjective/nominative</li>
        </ul>


        • Prepositions:
        <ul class="list-group">
            <li class="list-group-item">Preposition of movement</li>
            <li class="list-group-item">Prepositions of place</li>
            <li class="list-group-item">Prepositions of time</li>
        </ul>


        • Clauses:
        <ul class="list-group">
            <li class="list-group-item">Conditionals</li>
            <li class="list-group-item">Conjunctions</li>
        </ul>


        • Determiners:
        <ul class="list-group">
            <li class="list-group-item">Some versus any</li>
        </ul>

        • Gerunds and infinitives

        • Nouns:
        <ul class="list-group">
            <li class="list-group-item">Abstract nouns</li>
            <li class="list-group-item">Collective nouns</li>
            <li class="list-group-item">Common nouns</li>
            <li class="list-group-item">Compound nouns</li>
            <li class="list-group-item">Concrete nouns</li>
            <li class="list-group-item">Countable and uncountable nouns</li>
            <li class="list-group-item">Gerunds</li>
            <li class="list-group-item">Predicate nouns</li>
            <li class="list-group-item">Proper nouns</li>
        </ul>

        • Pronouns:
        <ul class="list-group">
            <li class="list-group-item">Indefinite</li>
            <li class="list-group-item">Personal</li>
            <li class="list-group-item">Possessive</li>
            <li class="list-group-item">Reflexive</li>
        </ul>

        • Reported speech


        • Tenses :
        <ul class="list-group">
            <li class="list-group-item">Present simple , present continuous , present perfect</li>
            <li class="list-group-item">Past simple, past continuous , past perfect</li>
            <li class="list-group-item">Future simple , future in the present form, future continuous , future perfect</li>
        </ul>

        • Participles
        • models

    </div>
    <div id="footer"></div>



    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
    <script src="../../scripts/sunshine.js"></script>
</body>

</html>