<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="../../../css/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
</head>

<body>
    <div class="container">
        <div class="page-header">
            <p class="display-4">Syllabus</p>
        </div>
        English Basics : 
    • English Vocabulary :
The Alphabets 
Animals and nature 
Colors 
Numbers
Shapes
Days and days 
Time
Weather and seasons
Computers
Greetings
Nationalities and countries
People appearances
People, families 
Food and drinks – eating out 
Human body
Food: vegetables and fruits
Buildings _ around the house _ rooms in the house _ furniture
Jobs and work (professions/offices)
Money 
Shopping
Transport
Sports 
Entertainment 
Phrasal verbs 
English idioms and proverbs 
 




    • Grammar: 
    • Adjectives: 
Comparatives
Order
Possessive 
Superlative
Used to
Common adjectives
 Adjectives of personality
    • Adverbs:
Degree
Duration
Frequency
Manner
Place
Probability
Time
Comparative 
Superlative
    • Aticles:
Case
Objective /accusative
Possessive/genitive
Subjective/nominative
    • Prepositions:
Preposition of movement 
Prepositions of place
Prepositions of time
    • Clauses:
Conditionals
Conjunctions
    • Determiners:
Some versus any 
    • Gerunds and infinitives
    • Nouns:
Abstract nouns 
Collective nouns
Common nouns
Compound nouns
Concrete nouns
Countable and uncountable nouns 
Gerunds
Predicate nouns
Proper nouns
    • Pronouns:
Indefinite
Personal
Possessive
Reflexive
    • Reported speech
    • Tenses :
Present simple , present continuous , present perfect 
Past simple, past continuous , past perfect
Future simple , future in the present form, future continuous , future perfect 
    • Participles 
    • models

  


    </div>
    <div id="footer"></div>



    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
    <script src="../../scripts/sunshine.js"></script>
</body>

</html>